body {
    font-family: Arial, Helvetica, sans-serif;
}

.linksContainer {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    column-gap: 20px;
}

#add-teacher, #update-teacher {
   display: none;
}

.labelWithInput {
    margin-bottom: 8px;
}

input[type="text"], input[type="date"] {
    width: 50%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button {
    background-color: dimgray;
    color: white;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 4px;
}

.active {
    background-color: midnightblue;
    color: white;
}

a.button {
    text-decoration: none;
}

.propertyName {
    font-weight: bold;
    color: darkslateblue;
}

#addSuccessResponse, #updateSuccessResponse {
    color: green;
    margin-top: 8px;
    display: none;
}

#addErrorResponse, #updateErrorResponse {
    color: red;
    margin-top: 8px;
    display: none;
}